*.exe
build/
build-*/
*.pro.user
Makefile*
*-Makefile
*.o
moc_*
ui_*
.so*
*.stash
*.autosave
*.so
*.so*
*.map
*.bak
*.launch
*.elf
*.su
*.prefs
*.orig
*.d
*.hex
*.a
*.out
.vscode/
cmake_install.cmake
